body{
  background-color: blue;
  text-align: center;

}
form{
  max-width: 500px;
  text-align: left;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
}
input{
  padding: 5px;
  border-radius: 5px;
  border: none;

}
.input-element{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
select{
 padding: 5px;
  border-radius: 5px;
  border: none;
}
input[type="checkbox"] {
  width: 14px;
  height: 30px;
}

